.is-hidden {
  display: none;
}
/* body {
  background-color: rgb(70, 164, 187);
} */
.search-form {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.search-input {
  display: block;
  margin: 0 auto 20px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  min-width: 30px;
  border: 1.5px solid #1d6438;
  border-radius: 5px;
}

.search-input::placeholder {
  text-align: center;
  color: #1d6438;
}

.search-button {
  display: block;
  margin: 0 auto;
  background-color: #1d6438;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  height: 50px;
  line-height: 20px;

  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
}
.search-button:hover,
.search-button:focus {
  background-color: #aa9019;
}

.gallery {
  display: grid;
  max-width: 1141px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 330px));

  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
}

.gallery__image {
  height: 100%;
  width: 100%;
}

.gallery__link {
  display: block;
  text-decoration: none;
  overflow: hidden;
  width: 325px;
  height: 325px;
}
